<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "件のエラーがあります") %></h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :タイトル %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :内容 %>
    <%= f.text_field :content %>
    <br>
    <%= f.label :タグ %>
    <%= f.text_field :tags, 'data-role'=>'tagsinput', placeholder: "質問に関連するタグ" %>
    <br>
    <%= f.submit '投稿する' %>
  </div>
<% end %>
