<div class="container">
 <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
<p id="notice"><%= notice %></p>


    <p class = "favorite"><%= link_to "お気に入り一覧", favorites_path %></p>
    <P class = "contribution"><%= link_to '新規投稿', new_question_path,class: "btn btn-info"%></P>
    <% @questions.each do |question| %><br>
     <div class="line">
        <%= link_to user_path(question.user.id) do %>
         <p><%= question.user.name %><p>
        <% end %>
        <p class= "time"><%= question.created_at.strftime("%y/%m/%d %p %l:%M") %></p>
        <p><strong>質問:<%= link_to question_path(question) do %> <%= question.title %></strong>  <% end %></p>
        <p>タグ:<%= question.tags %></p>
        <p><%= link_to "タグ", tags_path %></p>
        <ul class="list-inline">
         <li class="pull-left">
            <%= render partial: "tags/tag_list", locals: {tags: question.tags} %>
         </li>
        </ul>
      <% if current_user.id == question.user.id %>
       <p class ="icon">
        <%= link_to " ",edit_question_path(question.id),class: 'glyphicon glyphicon-wrench' %>
        <%= link_to " ",question_path(question), method: :delete, data: { confirm: '本当に削除しますか?' },class: 'glyphicon glyphicon-trash'%>
       </p>
     </div>
      <% end %>
    <% end %>
  </div>
</div>
