<ul>
  <% answers.each do |answer| %>
    <% unless answer.id.nil? %>

      <li>
       <div class = "line">
        <%= link_to user_path(@question.user.id) do %>
         <p><%= answer.user.name %></p>
        <% end %>
        <p id="answer_area_<%= answer.id %>"><%= answer.content %></p>
        <p class = "time"><%= answer.created_at.strftime("%y/%m/%d %p %l:%M") %></p>
        <% if current_user.id == answer.user.id %>
          <p class = "icon">
            <%= link_to  edit_question_answer_path(question, answer), class: 'glyphicon glyphicon-wrench',remote: true do %> <% end %>
            <%= link_to  question_answer_path(question, answer), class: 'glyphicon glyphicon-trash', method: :delete, data: { confirm: '本当に削除しますか?'},remote: true do%> <% end %>
          </p>
        <% end %>
       <div>
      </li>

    <% end %>
  <% end %>
</ul>
